# Byte-compiled / optimized / DLL files
.vscode/
__pycache__/
*.py[cod]
*$py.class

# jupyter notebooks checkpoints
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# data
data/
models/
work/
*.gsheet
*.json
